.container-banner {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    .banner-content{
        background: black;
        padding-left: 100px;
        padding-right: 200px;
        color: #FFFFFF;
        width: 100%;
        height: 400px;
        h1 {
            font-size: 48px;
            padding-right: 300px;
            text-transform: uppercase;
        }
        .content-1 {
            padding-right: 410px;
        }
        .label {
            img{
                padding: 10px;
            }
        }
    }
    
}