html {
  font-family: 'Inter', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

@import 'Navbar';
@import 'Brand';
@import 'SearchDealer';
@import 'Banner';
@import 'footer';